@using LotteMate
@attribute [Route(Constants.lotte_event)]
@inject NavigationManager Navigation
@inject LotteMateApi api

<PageTitle>롯데시네마 이벤트 목록</PageTitle>
<HeadContent>
    <meta name="description" content="롯데시네마 이벤트 목록. 영화, 시사회/무대인사, 멤버십..." />
</HeadContent>

<article class="article">
    <header class="header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" @onclick="(args)=>ToggleNavItem(LotteEventType.영화)" data-bs-toggle="tab"
                    type="button" role="tab" aria-selected="true">영화</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" @onclick="(args)=>ToggleNavItem(LotteEventType.시사회_무대인사)" data-bs-toggle="tab"
                    type="button" role="tab" aria-selected="false">시사회/무대인사</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" @onclick="(args)=>ToggleNavItem(LotteEventType.HOT)"
                    data-bs-toggle="tab" type="button" role="tab" aria-selected="false">멤버십/클럽</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" @onclick="(args)=>ToggleNavItem(LotteEventType.제휴할인)" data-bs-toggle="tab"
                    type="button" role="tab" aria-selected="false">극장</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" @onclick="(args)=>ToggleNavItem(LotteEventType.우리동네영화관)" data-bs-toggle="tab"
                    type="button" role="tab" aria-selected="false">제휴</button>
            </li>
        </ul>
        <div class="search-bar">
            <form class="search-form" onsubmit="return false;">
                <input class="event-input form-control" @onchange=SearchBar_OnChange placeholder="이벤트 검색">
                <button class="btn btn-outline-success cgv-gradient" type="button">검색</button>
            </form>
        </div>
    </header>
    <div class="container">
        <div class="wrap">
            @if (Events is not null)
            {
                @foreach (var item in Events)
                {
                    <div class="card" @onclick=@(a=>Card_OnClicked(item))>
                        <img src="@item.ImageUrl" href=/>
                        <div class="card-body">
                            <p class="card-title">@((MarkupString)item.EventName)</p>
                            <p class="card-text">@($"{item.ProgressStartDate} ~ {item.ProgressEndDate}")</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</article>

@code {
    private List<LotteEvent>? _events;// 프로퍼티용 리스트
    private List<LotteEvent>? events// 검색용 수정된 프로퍼티
    {
        get;
        set;
    }
    private List<LotteEvent>? Events; // 바인딩 프로퍼티


    protected override async Task OnInitializedAsync()
    {
        events = await api.GetLotteEventListAsync(LotteEventType.영화);
        Events = events;
        Console.WriteLine(events.Count);
    }

    private async void ToggleNavItem(LotteEventType type)
    {
        events = await api.GetLotteEventListAsync(type);
        Events = events;
        StateHasChanged();
    }

    private void SearchBar_OnChange(ChangeEventArgs args)
    {
        var text = args.Value as string;
        if (events is null)
            return;
        if (string.IsNullOrEmpty(text))
        {
            return;
        }
        Events = events.Where(x => x.EventName.ToLower().Trim().Contains(text.ToLower().Trim())).ToList();
        StateHasChanged();
    }

    private void Card_OnClicked(LotteEvent info)
    {
        Navigation.NavigateTo($"https://event.lottecinema.co.kr/NLCHS/Event/EventTemplateInfo?eventId={info.EventID}");
    }
}