@using CgvMate.Client.Api
@using CgvMate.Data.Enums
@attribute [Route(Constants.megabox_event_giveaway)]
@inject MegaboxMateApi api

<PageTitle>메가박스 경품 이벤트 현황</PageTitle>

<article class="article">
    <div class="header">
        <div class="title">
            <p>
                진행중인 경품 이벤트
                <strong>
                    @if (EventList is not null)
                    {
                        <span id="listcount">@EventList.Count</span>
                    }
                </strong>
                개
            </p>
        </div>
        <div class="search-bar">
            <form class="search-form" onsubmit="return false;">
                <input class="event-input form-control" @onchange=OnSearchBarChangeAsync placeholder="이벤트 검색">
                <button class="btn btn-outline-success cgv-gradient" type="button">검색</button>
            </form>
        </div>
    </div>

    <div class="body">
        <ul class="eventlist">
            @if (EventList is not null)
            {
                @for (int i = 0; i < EventList.Count; i++)
                {
                    if (i == EventList.Count / 2)
                    {
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2422895337222657"
                                crossorigin="anonymous"></script>
                        <!-- 중간 광고 -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-2422895337222657"
                             data-ad-slot="1843074752"
                             data-ad-format="auto"
                             data-full-width-responsive="true"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    }
                    var item = EventList[i];
                    <li class="item" style="cursor:pointer;">
                        <a href='megabox/event/giveaway/detail?eventIndex=@item.ID'>
                            <div class="text-container">
                                <strong class="item-title">@item.Title</strong>
                                <span class="item-period">
                                    <svg width="13px" height="13px" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z" />
                                        <path fill-rule="evenodd"
                                              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                    </svg>
                                    <span class="item-views">
                                        @item.ViewCount
                                    </span>
                                </span>
                            </div>
                        </a>
                    </li>
                }
            }
            else
            {
                @for (int i = 0; i < 20; i++)
                {
                    <li class="item" style="cursor:pointer;">
                        <p>
                            로딩중...
                        </p>
                    </li>
                }
            }
        </ul>
    </div>
</article>


@code {
    private List<CgvMate.Data.Entities.Megabox.GiveawayEvent>? eventList;
    private List<CgvMate.Data.Entities.Megabox.GiveawayEvent>? EventList;

    protected override async Task OnInitializedAsync()
    {
        var list = await api.GetGiveawayEventListAsync();
        Console.WriteLine(list.Count);
        EventList = list;
        eventList = EventList;
    }

    private void OnSearchBarChangeAsync(ChangeEventArgs args)
    {
        var text = args.Value as string;
        if (eventList is null)
            return;
        if (string.IsNullOrEmpty(text))
        {
            return;
        }
        EventList = eventList.Where(x => x.Title.ToLower().Contains(text.ToLower())).ToList();
    }
}