* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: normal;
}

ul, li {
    list-style: none;
}


.notification-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 5px 10px;
}
#toggle-switch-label {
    display: inline-block;
    width: 100%;
}

.notification-header p {
    margin: 0px;
}
