* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

ul, li {
    list-style: none;
}

.cgv-gradient {
    background-image: linear-gradient(to left, #ef642f, #fb4357);
}

.cgv-button {
    background-image: linear-gradient(to left, #ef642f, #fb4357);
    border: 0px;
    border-radius: 30px;
}

.cgv-border {
    background-image: linear-gradient(to left, #ef642f, #fb4357);
    border: 0px;
    border-radius: 30px;
}

.a-white {
    color: white;
}

.a-black {
    color: black;
}