* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
    overflow-y: hidden
}

ul, li {
    list-style: none;
}

.cgv-gradient {
    background-image: linear-gradient(to left, #ef642f, #fb4357);
}

.a-white {
    color: white;
}

.a-black {
    color: black;
}
