* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: normal;
}

a {
    color: #2f363f;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.tl {
    width: 100%;
    height: 100%;
}

.header {
    display: block;
    height: auto;
}

.header-title {
    white-space: nowrap;
    padding: 10px;
    height: 2.75rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
}

.header-content {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.header-title .cgv-button {
    font-size: small;
    color: #f1f1f1;
    width: 4rem;
}

.content-wrap {
    position: relative;
    width: 100%;
    height: calc(100% - 3rem);
    overflow-y: auto;
}

.content {
    position: relative;
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.contentL {
    width: 35%;
    height: 100%;
    max-width: 200px;
    background-color: #f1f1f1;
}

.area-list li.active a {
    color: #000;
    background: #fff calc(100% - 14px) center scroll no-repeat;
    background-size: 18px 12px;
    pointer-events: none;
    border: solid;
    border-right-width: 0px;
    border-top-width: 0px;
    border-color: #f1f1f1;
}

.area-list li a {
    display: block;
    font-size: 14px;
    color: #666;
    padding: 17px 0 16px 17px;
    line-height: 17px;
    background-color: #f1f1f1;
}

.contentR {
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 5px;
}

.m-theater {
    float: left;
    position: relative;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    .m-theater:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ebebeb;
    }

.m-theater-name {
    line-height: 0.9em;
    font-size: 0.9em;
    display: flex;
    text-align: center;
    justify-content: space-between;
    float: none;
    margin-top: 0;
}

.m-theater-count {
    border-radius: 30px;
    display: inline-grid;
    font-size: 0.8em;
    color: #666;
    line-height: 1.2em;
    height: 1.167em;
    width: 2.1em;
    text-align: center;
    vertical-align: middle;
}

.m-theater-state {
    align-items: center;
    margin-top: 7px;
    font-size: 0.857em;
    color: #666;
    line-height: 1.167em;
    align-items: start;
}

.num {
    padding-right: 1px;
    font-size: 18px;
    color: #ED4C6B;
}

.보유 {
    color: #503396;
}

.소량보유 {
    color: #FF5733;
}