@namespace CgvMate.Components

<span class="form-switch" style="padding-left: 1rem;">
	<input id="@Id" class="form-check-input" style="@Style" type="checkbox" role="switch" @onchange=OnChangeCallback>
</span>

@code {
	[Parameter]
	public string Id{ get; set; }
	[Parameter]
	public string Style{ get; set; }
	[Parameter]
	public EventCallback<ChangeEventArgs> OnChangeCallback { get; set; }
}