.tl-bL {
    position: relative;
    background-color: transparent;
    float: left;
    overflow-y: auto;
    width: 34.667%;
    height: 100%;
}

.area-list {
    overflow: hidden;
}
.area-list li {
    float: left;
    position: relative;
    width: 100%;
}

    .area-list li.active:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #fff;
    }

    .area-list li a {
        display: block;
        font-size: 14px;
        color: #666;
        padding: 17px 0 16px 17px;
        line-height: 17px;
    }

    .area-list li.active a {
        position: relative;
        font-weight: 600;
        color: #000;
        background: #fff calc(100% - 14px) center scroll no-repeat;
        background-size: 18px 12px;
        pointer-events: none;
    }

        .area-list li.active a:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #ebebeb;
        }

    .area-list li a span {
        padding-left: 1px;
        font-size: 11px;
        line-height: 13px;
        opacity: .9;
    }


a {
    color: #2f363f;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    letter-spacing: normal;
}
