@page "/event/giveaway/detail"
@inject CgvService Service

<h3>Detail</h3>

@if(_info is not null)
{
    @foreach (var item in _info.TheaterList)
    {
        <div>
            <p>@item.TheaterName</p>
            <p>@item.GiveawayRemainCount</p>
        </div>
    }
}

@code {
    [SupplyParameterFromQuery(Name = "eventIndex")]
    public string? EventIndex { get; set; }

    private GiveawayEventModel? _model;
    private GiveawayInfo? _info;

    protected override async Task OnInitializedAsync()
    {
        _model = await Service.Event.GetGiveawayEventModelAsync(EventIndex!);
        _info = await Service.Event.GetGiveawayTheaterInfoAsync(_model.GiveawayIndex);
    }
}