ul {
    margin: 0;
    padding: 0;
}

.article {
    padding: 0.5rem 0.7rem;
    max-height:100%;
    overflow:unset;
}
/*헤더*/
.header {
    height: 4.375rem;
    padding: 0px 0px 0px 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

    .header p {
        margin: 0;
    }

        .header p strong {
            font-weight: 700;
            color: #fb4357;
        }
    /*헤더 검색창*/
    .header .search-bar {
        width: 100%;
    }


        .header .search-bar .search-form {
            margin: 0.3rem 0rem 0.5rem 0rem;
            position: relative;
            height: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .header .search-bar .search-form > input {
                padding: 0.2rem 1rem;
                height: 2rem;
                margin-right: 0.5rem;
            }

            .header .search-bar .search-form .btn {
                height: 2rem;
                width: 6rem;
                padding: .375rem .75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0;
                color: white;
            }

/*본문*/
.body {
    height: 100%;
}

.eventlist {
    font-size: 13px;
}

    .eventlist li {
        list-style: none;
        position: relative;
        padding: 0.6rem;
        padding-bottom: 0.45rem;
        border-top: 1px solid #f2f2f2;
    }

    .eventlist .text-container {
        display: inline-flex;
        flex-direction: column;
    }

    .eventlist .item {
        position: relative;
        margin-top: 1px;
    }

        .eventlist .item .item-title {
            display: inline;
            padding-right: 60px;
            font-weight: 500;
            font-size: 1.143em;
            line-height: 1.188em;
        }

        .eventlist .item .item-period {
            display: inline;
            position: relative;
            margin-top: 0.2rem;
            padding-right: 60px;
            color: #999;
            letter-spacing: -0.036em;
            line-height: 1.143em;
        }

        .eventlist .item .item-dday {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 50%;
            min-width: 60px;
            min-height: 24px;
            margin-top: -12px;
            font-size: 0.929em;
            color: #fb4357;
            line-height: 1.154em;
            border: 1px solid #fb4357;
            border-radius: 5px;
        }
