ul {
    margin: 0;
    padding: 0;
}

.eventlist {
    overflow: hidden;
    clear: both;
    min-height: 452px;
    padding: 0px 15px 10px 10px;
}

.eventlist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
}

    .eventlist-header p {
        margin: 0px;
    }

        .eventlist-header p strong {
            font-weight: 700;
            color: #fb4357;
        }

.eventlist-body {
    font-size: 13px;
}

    .eventlist-body li {
        list-style: none;
        position: relative;
        padding: 10px;
        border-top: 1px solid #f2f2f2;
    }

.eventlist-item {
    position: relative;
    margin-top: 1px;
}

.eventlist-item-title {
    display: block;
    padding-right: 60px;
    font-weight: 500;
    font-size: 1.143em;
    line-height: 1.188em;
}

.eventlist-item-peoriod {
    display: block;
    margin-top: 4px;
    padding-right: 60px;
    color: #999;
    letter-spacing: -0.036em;
    line-height: 1.143em;
}

.eventlist-item-dday {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    min-width: 60px;
    min-height: 24px;
    margin-top: -12px;
    font-size: 0.929em;
    color: #fb4357;
    line-height: 1.154em;
    border: 1px solid #fb4357;
    border-radius: 5px;
}
