.appHeader{
    padding:12px;
}

.navbar-toggler {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: transparent;
    border: var(--borderWidth-thin, 1px) solid var(--borderColor-default, var(--color-border-default));
    border-color: aliceblue;
    border-radius: 6px;
    align-items: center;
    padding: 3px;
    padding-bottom: 5px;
}
.inner {
    
    background: linear-gradient(to left, var(--dustyOrange), var(--watermelon));
}