@inherits LayoutComponentBase
@layout MainLayout
@namespace CgvMate.Components.Layout

<header class="appHeader">
    <div class="global-bar">
        <button data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1" class="btn btn-primary"
                aria-controls="#sidenav-1" aria-haspopup="true">
            <i class="fas fa-bars"></i>
        </button>
        <span>CGV 도우미</span>
    </div>
</header>
@code {

}
