@inherits LayoutComponentBase
@using CgvMate.Components.Layout

<Offcanvas />
<div class="page">
    <NavMenu />
    <div class="cgv-gradient"></div>
    <div class="page-body">
        <div class="desktop-sidebar shadow-sm">
            <SideBar class="sidebar" IsOpen=true/>
        </div>
        <main>
            @Body
        </main>
    </div>
</div>
