.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar-container {
    z-index:20000;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 3rem;
}
::deep .navbar{
    width:100%;
}

.cgv-gradient {
    min-height: 2px;
}

.body-container {
    padding-top: 3rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

    .body-container .sidebar-container {
        padding: 0.7rem;
        height: 100%;
        max-width: 200px;
        min-width: 200px;
        transition: transform .1s ease;
    }

    .body-container main {
        width: 100%;
        height: 100%
    }

@media(max-width: 600px) {
    .sidebar-container {
        display: none;
    }
}
