@using CgvMate.Components.Layout

<div class="offcanvas offcanvas-start" style="visibility:unset;" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header cgv-gradient">
        <div class="offcanvas-title" id="offcanvasExampleLabel">CGV 도우미</div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <SideBar></SideBar>
    </div>
</div>
