.offcanvas {
    width: 80%;
    max-width: 230px;
    min-width: 200px;
    transition: transform .1s ease;
}

.offcanvas-title {
    font-size: 1em;
    font-weight: 500;
    color: white;
    align-self: center;
    display: flex;
    height: 1.3em;
}

.offcanvas-header {
    padding: 1rem;
    height: 3rem
}

.offcanvas-body {
    padding: 0.7rem
}
