@page "/"
@using CommunityToolkit.Maui.Views;
@inject CgvService Service

<article>
	<div class="home-body">
		<ul>
			<li>
				<button class="btn-link" onclick="location.href='/event/giveaway/list'">경품 이벤트 현황</button>
			</li>
		</ul>
	</div>
</article>

@code{
	private void OpenPopup(){
		var popup = new SelectMoviePopup(Service);
		App.Current.MainPage.ShowPopup(popup);
	}
}
